
<div class="container">
	<div class="row">
		<div class="col-12 mx-auto">
            <div class="title-text text-center my-5">
						<p><span class="about-title">好きなイメージを選択してください</span></p>
			</div>
					<%= search_form_for(@search, url: customers_search_client_plans_path, method: :get) do |f| %>
					
					  <%#  テイスト%>
					  <div class="select-title"><h2>テイスト</h2></div>
						<div class="tag-wrap">  
						<% @taste_tags.each do |tag|%>
							<div class="tag_select_box mb-2">
								<div class="tag_bg">
										<%= f.label :tag_id,for:"check_box_bottom#{tag.id}" do %>
										<%= f.check_box :plan_tags_id_in,{name:"q[plan_tags_id_in][]",id:"check_box_bottom#{tag.id}", class:"checkBoxes"},tag.id %>

											<%= attachment_image_tag tag, :tag_image, format: 'jpeg', fallback: "no_image.jpg", class:"tag-image-box"%>
										<%end%>
								</div>
							</div>
						<% end %>
					</div>
					
						<%# 外観イメージ %>
						<div class="select-title"><h2>外観</h2></div>
						<div class="tag-wrap">  
						<% @outside_image_tags.each do |tag|%>
							<div class="tag_select_box mb-2">
								<div class="tag_bg">
										<%= f.label :tag_id,for:"check_box_bottom#{tag.id}" do %>
										<%= f.check_box :plan_tags_id_in,{name:"q[plan_tags_id_in][]",id:"check_box_bottom#{tag.id}", class:"checkBoxes"},tag.id %>

											<%= attachment_image_tag tag, :tag_image, format: 'jpeg', fallback: "no_image.jpg", class:"tag-image-box"%>
										<%end%>

								</div>
							</div>
						<% end %>
					</div>
					<div class="select-title"><h2>内観</h2></div>
					<div class="tag-wrap">  
						<% @inside_image_tags.each do |tag|%>
							<div class="tag_select_box mb-2">
								<div class="tag_bg">
										<%= f.label :tag_id,for:"check_box_bottom#{tag.id}" do %>
										<%= f.check_box :plan_tags_id_in,{name:"q[plan_tags_id_in][]",id:"check_box_bottom#{tag.id}", class:"checkBoxes"},tag.id %>

											<%= attachment_image_tag tag, :tag_image, format: 'jpeg', fallback: "no_image.jpg", class:"tag-image-box"%>
										<%end%>
								</div>
							</div>
						<% end %>
					</div>
					<div class="select-title"><h2>ドレス</h2></div>
					<div class="tag-wrap">  
						<% @dress_tags.each do |tag|%>
							<div class="tag_select_box mb-2">
								<div class="tag_bg">
										<%= f.label :tag_id,for:"check_box_bottom#{tag.id}" do %>
										<%= f.check_box :plan_tags_id_in,{name:"q[plan_tags_id_in][]",id:"check_box_bottom#{tag.id}", class:"checkBoxes"},tag.id %>

											<%= attachment_image_tag tag, :tag_image, format: 'jpeg', fallback: "no_image.jpg", class:"tag-image-box"%>
										<%end%>
								</div>
							</div>
						<% end %>
					</div>
					<div class="select-title"><h2>シチュエーション</h2></div>
					<div class="tag-wrap">  
						<% @situation_tags.each do |tag|%>
							<div class="tag_select_box mb-2">
								<div class="tag_bg">
										<%= f.label :tag_id,for:"check_box_bottom#{tag.id}" do %>
										<%= f.check_box :plan_tags_id_in,{name:"q[plan_tags_id_in][]",id:"check_box_bottom#{tag.id}", class:"checkBoxes"},tag.id %>

											<%= attachment_image_tag tag, :tag_image, format: 'jpeg', fallback: "no_image.jpg", class:"tag-image-box"%>
										<%end%>
								</div>
							</div>
						<% end %>
					</div>
                    <div class="text-center my-3">
						<%= f.submit "→ NEXT", class: "plan_make", onClick:"return isCheck()" %>
                    </div>
					<% end %>

		</div>
	</div>
</div><!-- /.container -->

<script>
	function isCheck() {
		var arr_checkBoxes = document.getElementsByClassName("checkBoxes");
		var count = 0;
		for (var i = 0; i < arr_checkBoxes.length; i++) {
			if (arr_checkBoxes[i].checked) {
				count++;
			}
		}
		if (count > 0) {
			return true;
		} else {
			window.alert("項目を1つ以上選択してください。");
			return false;
		}
	}
	// $('.tag_select_box').click(function() {
    //     var check = $( this ).parents('.tag_select_box');
    //     console.log(this)
	// 	// $(this).attrtoggleClass('is-active')
	// 	console.log(this)
    //     if ( $(this).prop('checked') ) {
    //         check.addClass('is-active');
    //     }
    //     else{
    //         check.removeClass('is-active');
    //     }
    // } );
</script>