

				<%# イメージ画像 %>
		<div class="topimage">
			 <%= image_tag 'topimage2.jpg' %>
			<div class="top-title"><p>どこで、どんな時間を過ごそう？</p></div>
            <div class="top-comment"><p>軽井沢で結婚式を</p></div>
		</div>
<div class="container">

	<div class="row">
		<div class="col-12 mt-5 mx-auto">
			<div class="about">
				<div class="title-text text-center my-5">
						<p><span class="about-title">「軽井沢deウェディング.com」とは？</span></p>
				</div>
				<div class="sub-text text-center my-3">
						<p>軽井沢にある結婚式場のプランをスマホで簡単に作成、</p>
						<p>式場に仮予約ができるサービスです</p>
						<p>軽井沢のウェディングに関する情報も発信しています</p>
				</div>
				<div class="mx-auto text-center my-3">
					<%= image_tag 'icon.jpg', :size =>'300x300' %>
				</div>
				 <div class="text-center my-3">
           		 	<%= link_to "プランを作る", plan_make_path, class: "plan_make" %>
           		 </div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 my-5 mx-auto">
			<div class="title-text text-left my-5">
				<p><span class="about-title">新着式場プラン</span></p>
			</div>
			<div class="top_client_plans_box">
				<% @client_plans.each do |client_plan| %>
					<div  class="top_client_plan">
						<%= link_to(admins_client_plan_path(client_plan), class: 'list-content') do %>
						<%= attachment_image_tag client_plan.client, :client1_image, format: 'jpeg', fallback: "no_image.jpg", class:"client-image-box"%>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="morelink text-right mb-5">
				<%= link_to "> More plans", customers_client_plans_path%>
			</div>
		</div>
	</div>
</div><!-- /.container -->