
<div class="container">
   
			<%# イメージ画像 %>
				<div class="slider-for">
					<div class="sp-slide">
					<%= image_tag 'topimage2.jpg' %>
          <div class="slick-content">
          <p>結婚式のプランを簡単に作れるサービス</p>
            <h2>軽井沢deウェディング.com</h2>
            
          </div>
					</div>
					<%# <div class="sp-slide">
							<%= image_tag 'topimage1.jpg' %>
						<%# </div>
					<div class="sp-slide">
							<%= image_tag 'topimage3.jpg' %>
					<%# </div>  %>
				</div> 

<div class="container">
 ようこそ


 <%= search_form_for(@search, url: customers_search_client_plans_path, method: :get) do |f| %>

 <% @plan_tags.each do |tag|%>
   <%= f.check_box :plan_tags_id_in,{name:"q[plan_tags_id_in][]"},tag.id %>
   <%=tag.name%>
 <%end%>
 
  <%= f.submit "検索" %>
<% end %>



      </div>
</div><!-- /.container -->