<div class="topimage">
	<%= image_tag 'topimage2.jpg' %>
	<div class="top-title"><p>どこで、どんな時間を過ごそう？</p></div>
    <div class="top-comment"><p>Let's make wedding plan!</p></div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12 mt-5 mx-auto">
			<div class="about">
				<div class="title-text text-center my-5">
						<p><span class="about-title">「軽井沢deウェディング.com」とは？</span></p>
				</div>
				<div class="sub-text text-center my-3">
						<p>軽井沢にある結婚式場のプランをスマホで簡単に作成、</p>
						<p>式場に仮予約ができるサービスです</p>
						<p>軽井沢のウェディングに関する情報も発信しています</p>
				</div>
				<div class="mx-auto text-center my-3">
					<%= image_tag 'icon.jpg', :size =>'300x300' %>
				</div>
				<div class="text-center my-3">
           		 	<%= link_to "プランを作る", plan_make_path, class: "plan_make" %>
           		</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 my-5 mx-auto">
			<div class="title-text text-left my-5">
				<p><span class="about-title">新着式場プラン</span></p>
			</div>
			<div class="top_client_plans_box">
				<% @client_plans.each do |client_plan| %>
					<div  class="top_client_plan my-2 ml-2">
						<%= link_to(customers_client_plan_path(client_plan), class: 'list-content') do %>
						<p>
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-flag-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M3.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/>
							<path fill-rule="evenodd" d="M3.762 2.558C4.735 1.909 5.348 1.5 6.5 1.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126a8.89 8.89 0 0 0 .593-.25c.058-.027.117-.053.18-.08.57-.255 1.278-.544 2.14-.544a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5c-.638 0-1.18.21-1.734.457l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 9.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916A.5.5 0 0 1 3.5 9V3a.5.5 0 0 1 .223-.416l.04-.026z"/>
							</svg>
							<%= client_plan.plan_name %>
						</p>
						<%= attachment_image_tag client_plan.client, :client1_image, format: 'jpeg', fallback: "no_image.jpg", class:"client-image-box"%>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="morelink text-right mb-5">
				<%= link_to "> More plans", customers_client_plans_path%>
			</div>
		</div>
	</div>
</div><!-- /.container -->