<div class="container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<div class="title mt-5"><h2>プランアイテム名編集</h2></div>
			<br>
			<%= render '/layouts/errors', obj: @item_category %>

			<%= form_with(model: @item_category, url: admins_item_category_path, local: true) do |f| %>
			<%= f.label :プランアイテム名 %>
			<%= f.text_field :name %>
			<%= f.submit "変更を保存する",class: "btn btn-primary" %>
			<% end %>
		</div>
		<div class="col-lg-1"></div>
	</div>
</div>