<div class="container">
 <%# 共通ボディー開始タグ%>
 <%# 管理メニューここから %>
 <div class="title mt-5">
    <h2>管理メニュー</h2>
</div>
<%# 問い合わせ一覧 %>
        <div class="title mt-5">
            <h4>問い合わせプラン一覧</h4>
        </div>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="table-success">問い合わせID</th>
						<th class="table-success">問い合わせ日時</th>
						<th class="table-success">問い合わせプラン名</th>
                        <th class="table-success">問い合わせ会員名</th>
					</tr>
				</thead>
				<tbody>
					<% @order_plans.each do |order_plan| %>
					<tr class="active">
                        <td><%= order_plan.id %></td>
						<td><%= link_to order_plan.created_at.strftime('%Y/%m/%d %H:%M:%S') ,  customers_order_plan_path(order_plan), data: {"turbolinks" => false} %></td>
                        <td><%= order_plan.client_plan_name%></td>
                        <td><%= link_to order_plan.customer.family_name + order_plan.customer.first_name,  admins_customer_path(order_plan.customer_id), data: {"turbolinks" => false} %>
                        </td>
					
					</tr>
					<% end %>
					<%= paginate @order_plans %>
				</tbody>
			</table>
<%# 問い合わせ一覧ここまで　%>

<div class="menue-title mt-5">
					<h3>カスタマ管理</h3>
</div>
<ul>
    <li>
        <div class= "m-2">
            <%= link_to "カスタマー一覧", admins_customers_path, class: "btn btn-success" %>
        </div>
    </li>
</ul>


<div class="menue-title mt-5">
					<h3>クライアント（式場）管理</h3>
</div>
<ul>
    <li>
        <div class= "m-2">
            <%= link_to "新規登録", new_admins_client_path, class: "btn btn-info" %>
        </div>
    </li>
    <li>
        <div class= "m-2">
            <%= link_to "式場一覧", admins_clients_path, class: "btn btn-info" %>
        </div>
    </li>
</ul>


<div class="menue-title mt-5">
					<h3>式場プラン管理</h3>
</div>
<ul>
    <li>
        <div class= "m-2">
            <%= link_to "新規登録", admins_client_plans_client_select_path, class: "btn btn-success" %>
        </div>
    </li>
    <li>
        <div class= "m-2">
            <%= link_to "プラン一覧", admins_client_plans_path, class: "btn btn-success" %>
        </div>
    </li>
    <li>
    <li>
        <div class= "m-2">
            <%= link_to "各式場ごとのプラン商品新規登録", new_admins_item_path, class: "btn btn-info" %>
        </div>
    </li>
    <li>
        <div class= "m-2">
            <%= link_to "各式場ごとのプラン商品一覧", admins_items_path, class: "btn btn-info" %>
        </div>
    </li>
</ul>


<div class="menue-title mt-5">
					<h3>プランフォーマット管理</h3>
</div>
        <div class= "m-2">
            <%= link_to "プランタグ　登録＆一覧", admins_plan_tags_path, class: "btn btn-success" %>
        </div>
    </li>
    <li>
        <div class= "m-2">
            <%= link_to "プランアイテム　登録＆一覧", admins_item_categories_path, class: "btn btn-info" %>
        </div>
       
    </li>
</ul>

<%# 共通ボディー閉じタグ %>
</div>