<div class="container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">

			<div class="title mt-5"><h2>式場プラン新規登録（式場選択）</h2></div>
				<%# <%= render '/layouts/errors', obj: @client_plan %>
			<!-- プラン登録フォーム -->

<%= form_with model: @client_plan, url: admins_client_plans_new_path,local: :true, class:"form-horizontal" do |f| %>
        <div class="form-group">
            <%= f.label :登録する式場を選ぶ ,class:"mb-1" %>
            <%= f.collection_select :client_id, Client.all, :id,:name, { include_blank: "--選択してください--"}, {class: "form-control"} %>
        </div>

    <div class="pull-right">
        <%= f.submit "プラン新規登録へ",class: "btn btn-primary" %>
    </div>

<% end %>

<%# 登録フォーム %>

<%# 共通ボディー閉じタグ %>
</div>