<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <% if admin_signed_in? %>
                <div class="title mt-5">
                    <h2>記事詳細</h2>
                </div>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%= render '/layouts/errors', obj: @post %>
            <div class="title-text text-left mt-3 mb-5">
				<p><span class="about-title"> <%= @post.title %></span></p>
			</div>
            <div class="blog-day my-2">
                <span class= 'badge badge-info'>
                    <%= @post.tag %>
                </span> | <%= @post.created_at.strftime('%Y/%m/%d') %>
            </div>
             <div class="blog-image mb-2">
                <% if @post.blog_images.present? %>
                    <% @post.blog_images.each do |image| %>
                        <%= attachment_image_tag image, :image, :fill, 200, 200 %>
                    <% end %>
                <% end %>
            </div>
            <div class="blog-text">
                <%# 記事%>
                <%= sanitize @post.text, tags: %w(h1 h2 h3 h4 h5 h6 ul ol li p a img table tr td em br strong div), attributes:  %w(id class href) %>
                <%# 記事 %>
            </div>
        </div>
    </div>
   
	<div class="row">
        <% if admin_signed_in? %>
            <div class="col-xs-12 mr-2">
                <%= link_to "編集する",edit_admins_blog_path(@post),class: "btn btn-primary pull-right" %>
            </div>
            <div class="col-xs-12 mr-2">
            <%= link_to "削除する", admins_blog_path(@post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
            </div>
        <% end %>
        <div class="col-xs-12 mr-2 mb-3 mt-5">
		<%= link_to "一覧に戻る", admins_blogs_path, class: "btn btn-sm btn-success" %>
		</div>
	</div>
</div>