<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color:#e6f2ec;">
      <% if customer_signed_in? %>
        <%= link_to "軽井沢 de ウェディング.com",root_path, class:"navbar-brand" %>
      <% elsif admin_signed_in? %>
        <%= link_to "軽井沢 de ウェディング.com(管理者用)", admins_root_path, class:"navbar-brand"%>
      <% else %>
        <%= link_to "軽井沢 de ウェディング.com", root_path, class:"navbar-brand"%>
      <% end %>
        <%# トグル %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%# トグル %>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center">
          <% if customer_signed_in? %>
            <li  class="nav-item mr-4">
            <%= link_to "My_Plan",mypage_path, class: "link-text" %>
            </li>
            <li  class="nav-item mr-4">
            <%= link_to "About", about_path, class: "link-text" %>
            </li>
            <li  class="nav-item mr-4">
            <%= link_to "Log out", destroy_customer_session_path, method: :delete, class: "link-text" %>
            </li>
            <% elsif admin_signed_in? %>
            <li  class="nav-item mr-4">
            <%= link_to "管理トップ", admins_root_path, class: "link-text" %>
            </li>
            <li  class="nav-item mr-4">
            <%= link_to "カスタマー一覧", admins_customers_path, class: "link-text" %>
            </li>
            <li  class="nav-item mr-4">
            <%= link_to "式場一覧",  admins_clients_path, class: "link-text" %>
            </li>
            <li  class="nav-item mr-4">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "link-text" %>
            </li>
          <% else %>
            <li  class="nav-item mr-4">
            <%= link_to "About", about_path, class: "link-text" %>
            </li>
            <li  class="nav-item mr-4">
            <%= link_to "Sign up", new_customer_registration_path, class: "link-text" %>
            </li>
            <li  class="nav-item mr-4">
            <%= link_to "wedding_plans", customers_client_plans_path, class: "link-text" %>
            </li>

          <% end %>
        </ul>
      </div>
    </nav>
</div>
</header>
