<!DOCTYPE html>
<html>
  <head>
    <title>karuizawa-de-wedding.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# スライドショーSlick %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>  
  </head>
  <body>
    <div class="container my-5">
      <%= render 'layouts/header' %>
      <div class="body_content">
          <%= yield %>
      </div>
    </div>

    <div class="footer">
      <div class="footer_container">
          <footer> 
            <%= render 'layouts/footer' %>
          </footer> 
      </div>
    </div>
</body>

</html>
